
#table
{
background-color: rgb(92, 37, 186);
width: 800px;
margin: 0 auto; /*centrovani tohoto prvku*/
display: grid;
grid-template-columns: repeat(2, 200px) 100px;/*pocet hodnot=pocet sloupcu, velikost udava velikost konkretniho sloupce*/
grid-template-rows:repeat(2, 100px) 50px;/*pocet hodnot=pocet radku, ktere nastavujeme, velikost udava velikost radku*/
grid-auto-rows: 200px;


justify-content: center;
align-items: center;
}

#table > div
{
    border: 1px solid black;
 display:  grid;
 justify-content: center;
 align-items: center;
}

#table2
{
margin-top: 20px;
background-color: blueviolet;
width: 800px;
height: 500px;
margin: 10px auto;
 display: grid;
 grid-template-columns: repeat(4, 1fr);/*1 frakce= 1 dalsi jednota cele sirky*/ 
grid-auto-rows: 1fr;
}

#table2 > div
{
      border: 1px solid black;
 
}

#table3
{
    background-color: rgb(68, 230, 19);
    margin: 10px auto;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*auto-fit (width/min) = (1000/300)= 3 => sloupec se roztahne ze by zablar tu sirku*/
    grid-auto-rows: 100px;
    gap: 10px;

}
#table3 > div
{
    border: 1px solid rgb(19, 255, 19);
    background-color: rgb(199, 172, 17);
}
/*.table312
{
    background-color: cadetblue !important;
    justify-self: end;
    align-self: self-end;
}*/
.table3-1
{
    grid-column: span 2;
}
.table3-4
{
    grid-column: span 2;
}
.table3-5
{
    grid-column: 1 / 4;
    grid-row: span 2 ; /* 3 / 5*/
}