*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    height: 3000px;
}
.fixed-container
{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    top: 100px;
    left: 500px;

}

.basic-div
{
    width: 50%;
    height: 500px;
    background-color: aqua;
    position: relative;
}
.absolute-div
{
       width: 100%;
    height: 100px;
    background-color: aqua;
    position: absolute;
    bottom: 25%;
    left: 50%;
}
.absolute-div2
{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: yellow;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.sticky-div
{
    position: sticky;
    top: 20%;
    left:0;
    width: 100%;
    height: 70px;
    background-color: bisque;

}