header {
    position: sticky;
    top: 0;
    background-color: burlywood;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#logo {
    width: 50px;
    height: auto;
}

header > div {
    display: flex;
    gap: 15px;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 25px;
}

header nav ul li {
    list-style-type: none; /* zbavíme se odrážek */
}

header nav ul li a {
    text-decoration: none; /* zbavíme se podtržení */
    color: black;
    padding: 10px 15px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #6d6b65;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 15px;
    }

    header nav ul {
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        min-height: 120px;
        justify-content: space-around;
    }

    header {
        padding: 0 5px;
    }

    header nav ul {
        gap: 5px;
    }

    .fixed-container, .fixed-container2 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: auto;
        padding: 10px 0;
        gap: 20px;
    }

    header nav ul {
        flex-direction: column;
        gap: 5px;
    }

    header nav {
        width: 100%;
    }

    header nav ul li a {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: auto 0;
    }

    header nav ul li a:hover {
        background-color: bisque;
    }
}

@media print {
    header {
        display: none;
    }
}
